API_ID=
API_HASH=
BOT_TOKEN=
OWNER_ID=
SUDO_USERS=
SESSION_STRING=
LOG_GROUP_ID=0
SUPPORT_GROUP=https://t.me/mikuvcsupport
UPDATE_CHANNEL=https://t.me/mikuvcupdates
OWNER_USERNAME=telegram
BOT_USERNAME=mikuvcrobot
BOT_NAME=Miku
DATABASE_URL=sqlite:///miku.db
THUMB_WATERMARK=@mikuvcrobot
DEFAULT_BG_IMAGE=assets/miku_background.png
DEFAULT_AVATAR=
FONT_PATH=
MAX_DURATION=7200
AUTO_LEAVE=true

